/* Styles pour le corps de la page */
body {
    background: linear-gradient(to bottom, #000000, #ff0000);
    color: white;
    margin: 0;
    min-height: 100vh; /* Définit la hauteur minimale de la fenêtre visible */
    display: flex;
    flex-direction: column;
    position: relative; /* Ajout du positionnement relatif */
}

/* Styles pour les conteneurs */
.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Styles pour l'image du logo */
.container img {
    width: 300px; /* Largeur du logo */
    height: 60px; /* Hauteur du logo */
    margin-top: 20px; /* Marge en haut du logo */
}

/* Styles pour le contenu de la page */
.content {
    padding: 20px;
    text-align: center;
    flex-grow: 1; /* Utilisation de flex-grow pour permettre à la section de remplir l'espace restant */
}

/* Styles pour le pied de page */
footer {
    background-color: #660000;
    color: white;
    padding: 20px;
    text-align: center;
    position: absolute; /* Positionnement absolu */
    bottom: 0; /* Placer le pied de page en bas de la page */
    width: 100%; /* Assurer que le pied de page occupe toute la largeur de la page */
}

.forgot-password a {
    color: white;
    text-decoration: underline;
}

.forgot-password {
    margin-top: 5px; /* Vous pouvez ajuster la valeur selon vos besoins */
}

#profil-image {
    cursor: pointer;
    width: 200px; /* Définissez la largeur souhaitée */
    height: 200px; /* Définissez la hauteur souhaitée */
    object-fit: cover; /* Zoomer l'image pour qu'elle remplisse le conteneur en conservant ses proportions */
}

.ville-nom,
.ville-codepostal {
    color: white; /* Définit la couleur du texte en blanc */
}

.action-link {
    color: white; /* Définit la couleur du texte en blanc */
    /*text-decoration: none; !* Supprime la soulignement par défaut des liens *!*/
}

.action-link:hover {
    text-decoration: underline; /* Ajoute un soulignement lorsque le lien est survolé */
}

.column-title {
    color: white; /* Définit la couleur du texte en blanc */
}

.campus-nom {
    color: white; /* Définit la couleur du texte en blanc */
}
